@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhzQ.woff) format("woff");
  unicode-range: WOFF2; }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff) format("woff");
  unicode-range: WOFF2; }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm459WxRyS7g.woff) format("woff");
  unicode-range: WOFF2; }

body {
  margin: 0;
  padding: 1em 25%;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: lightgreen; }

h1 {
  margin: 0;
  font-size: 3em;
  color: green; }

p {
  font-size: 1.25em;
  color: #111; }

ul {
  padding: 0 0 0 1.5em;
  margin: 0; }

li {
  font-size: 1.25em;
  color: #111; }
